@font-face {
  font-family:'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-regular.woff2') format('woff2'),
       url('../fonts/roboto-regular.woff') format('woff');
}

@font-face {
  font-family:'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto'), local('Roboto-Bold'),
       url('../fonts/roboto-700.woff2') format('woff2'),
       url('../fonts/roboto-700.woff') format('woff');
}


body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  background: linear-gradient(#FDF8F8, rgba(0, 144, 255, 0.39));

}

a {
  text-decoration: none;
}

h3 {
  font-size: 30px;
  color: #006EBD;
}

h2 {
  margin-top: 55px;
  margin-bottom: 0;
  font-size: 50px;
  color: #006EBD;
}

p {
  font-size: 20px;
  color: #969696;
  font-weight: 600;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-header {
  display: block;



  background: url("../img/pool.jpg") center no-repeat;
    
  max-width: 1519px;
  height: 750px;
  margin: 0 auto;
  
  -webkit-background-size: cover;
  background-size: cover;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;


  margin-left: 10%;
  margin-right: 10%;
}

.logo {
  margin-top: 40px;
}

.name {
  margin-right: 400px;
  margin-top: 40px;
}

.name-one {
  margin-top: 11px;
  margin-bottom: 19px;
  font-size: 40px;
  color: #F2F2F2;
}

.name-location {
  margin: 0;
  font-size: 25px;
  color: #0396FF;
}

.menu {
  display: flex;
  flex-direction: column;

  width: 315px;
  margin-top: 40px;
}

.menu-social {
  display: flex;
  justify-content: space-between;
}

.social { 
  border-radius: 20px;
  box-shadow: 6px 6px 8px #636A6D;
}

.contacts {
  display: flex;
  flex-direction: column;
}

.contacts-mail {
  border-radius: 20px;
  box-shadow: 0 0 20px 2px #636A6D;
}

.contacts-tel {
  border-radius: 20px;
  box-shadow: 0 0 20px 2px #636A6D;
}

.header-text {
  display: flex;
  flex-direction: column;  

  margin-top: 150px;
}

.text {
  display: flex;
  justify-content: center;

  margin-top: 40px;
  margin-bottom: 0;
  font-size: 40px;
  color: #F2F2F2;
}

.text-one {
  display: flex;
  justify-content: center;

  font-size: 35px;
  color: #F2F2F2;
}

.git {
  margin-top: 96px;
  margin-left: 10%;

  width: 1200px;
}

.services {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 1240px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 80px;
}

.block-description {
  position: absolute;
  left: 0;
  width: 560px;
  padding: 110px 47px 125px 47px;
  background-color: #f2f2f2;
  
}

.text-right {
  justify-content: flex-start;
}

.text-right .block-description {
  left: auto;
  right: 0;
}

.footer {
  margin: 0 auto;
  height: 500px;
  width: 373px;
}

.footer-main {
  display: flex;
  justify-content: center;
  
  margin-top: 57px;
  margin-bottom: 35px;
  font-size: 40px;
  color: #F2F2F2;
}

.footer-social {
  display: flex;
  justify-content: space-between;
}

.social1 {
  border-radius: 20px;
  box-shadow: 6px 6px 8px #636A6D;
}



.tel1 {
  display: flex;
  justify-content: center;
  color: #313234;
  font-size: 40px;
} 

.mail {
  margin-top: 60px;
}

.footer-logo {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  margin-bottom: 40px;
  width: 1250px;
}

.mar {
  margin-left: 15px;
}